@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
body{
    background-color: #AAB99A;
}
h1 {
    font-family: "Bruno Ace SC", serif;
}

.navbar ul{
    list-style-type: none;
    background-color: steelblue;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color: purple;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
#WelcometomyWebsite {
    text-align: center;
}


