@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
body{
    font-family: "Bruno Ace SC", serif;
    background-color: #AAB99A;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Bruno Ace SC", serif;
}

.navbar ul{
    list-style-type: none;
    background-color: steelblue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: purple;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:navy
}


#WelcometomyWebsite {
    text-align: center;
}

.navbar li{
    float: left;
}
.text-center {
    text-align: center;
}
.text-24px{
    font-size: 24px;
}

.navbar:active {
    box-shadow: 2px 2px 5px #00a171;
  }


  a:visited {
    color: rgb(227, 62, 25);

  }


input{
    background-color: #48bca3
}
  